.navbar {
  width: 100vw;
  height: 10vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("https://cdn.pixabay.com/photo/2015/03/30/12/50/bus-698688_1280.jpg");
  background-size: cover;
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
}

.userImg img {
  width: 55px; /* Ajustez la taille de l'image selon vos besoins */
  height: 49px; /* Ajustez la taille de l'image selon vos besoins */
  border-radius: 50%;
}


.dropdown {
  position: relative;
  left: 170%;
}

.dropdown-menu {
  position: absolute;
  top: 100%; /* Place le dropdown sous l'icône */
  right: 0; /* Positionne le dropdown à droite de l'icône */
  display: block;
  background-color: white; /* Couleur de fond du dropdown */
  border: 1px solid #9b3030; /* Bordure du dropdown */
  box-shadow: 0 2px 4px rgba(188, 186, 186, 0.1); /* Ombre du dropdown */
  z-index: 1000; /* Assure la superposition au-dessus du contenu */
}

.dropdown-item {
  padding: 8px 15px; /* Espacement intérieur des éléments du menu */
  color: white; /* Couleur du texte */
  text-decoration: none;
  display: block;
  position: absolute;
}

.dropdown-item:hover {
  background-color: #6e6a6a; /* Couleur de fond au survol */
  color: white; /* Couleur du texte au survol */
}

.UserName{
  position: relative;
  margin-right: 30%;
}

.user-container {
  display: flex;
  align-items: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 500;
}
.navButton {
  position: relative;
  right: 10px;
  padding: 10px 33px;
  background-color: #052785;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navButton:hover {
  background-color: #176396;
}

.navButton:focus {
  outline: none;
}

.navButton:active {
  background-color: #1f618d;
}

.navButtonL {
  padding: 10px 40px;
  background-color: #052785;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navButtonL:hover {
  background-color: #176396;
}

.navButtonL:focus {
  outline: none;
}

.navButtonL:active {
  background-color: #1f618d;
}
