.faq-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-height: 80vh;
  overflow-y: auto;
  z-index: 1000; 
}


.faq-modal h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.close-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  margin-top: 20px;
}

.AccordionSummary-root {
  cursor: pointer;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
}

.AccordionSummary-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AccordionDetails-root {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 4px;
  margin-top: 10px;
}

.AccordionDetails-root p {
  margin-top: 10px;
}